<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ9jrQsrxXWefVrJ6NhcoBOe5MmfXqdas</string>
	<key>GCM_SENDER_ID</key>
	<string>168416581283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.activities.projetMobile</string>
	<key>PROJECT_ID</key>
	<string>projetmobile-7d857</string>
	<key>STORAGE_BUCKET</key>
	<string>projetmobile-7d857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168416581283:ios:97e696b183efb182111116</string>
</dict>
</plist>